body{
    background-image: url(./images/63jVvJAIfpI.jpg);
    background-position: center;
    background-size: cover;

}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+GB+S+Guides:ital@0;1&display=swap');

h1{
    font-size: 40px;
    color: red;
    font-family: "Agu Display", serif;
}

p{
    font-size: 20px;
    font-family: "Playwrite GB S Guides", cursive;

}

.box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.one{
    padding: 40px;
    margin: 50px;
}

